<!DOCTYPE html>
<html class="down">
<head>
	<title>When is the Laser Cutter going to be fixed?</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="c-content">
	<h3 class="c-paragraph">When is the Laser Cutter going to be fixed?</h3>
	<h1 class="c-status c-status--smaller">{{ endDate }}*</h1>
	<p class="c-paragraph">*Of course, this number is a <strong>complete fabrication</strong>; we got it by {{{ reason }}}.</p>
	<p class="c-paragraph">The Laser Cutter Maintainers use their own spare time to fix things, so you'll have to wait until they finish.</p>
	<p class="c-paragraph">How about you just <a href="/">leave your email</a> and we'll notify you when we're done?</p>
</div>
</body>
</html>
