<!DOCTYPE html>
<html class="{{ status }}">
<head>
	<title>Is the Laser Cutter Working? &mdash; {{statusYesNo}}</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="c-content">
		<h3 class="c-paragraph">Is the Laser Cutter Working?</h3>
		{{#if isUp}}
			<h1 class="c-status">Yes</h1>
			{{#if inUse }}
				<h3 class="c-paragraph">...but someone's on it right now.</h3>
			{{/if}}
		{{/if}}
		{{#unless isUp }}
			<h1 class="c-status">No</h1>
			<form class="c-down-form" method="post" action="/notifyme">
				{{#if addSuccess }}
					<p class="c-result c-result--success">Your email has been saved and you will be notified when the laser cutter is back up.<br />
						Please ensure that emails from noreply@&#8203;isthe&#8203;laser&#8203;cutter&#8203;working.com are not sorted into your spam folder.</p>
				{{/if}}
				{{#if emailFailure }}
					<p class="c-result c-result--error">The email you entered was not valid. Please try again.</p>
				{{/if}}
				{{#if addFailure }}
					<p class="c-result c-result--error">An error has occurred. Please try again.</p>
				{{/if}}
				{{#unless addSuccess }}
					<p class="c-down-form__intro">Leave your email and we will let you know when it's back up.</p>
					<input class="c-down-form__email" type="email" name="email" placeholder="user@lasercutter.com" required />
					<input class="c-down-form__submit" type="submit" value="Let me know!" />
				{{/unless}}
				<a class="c-link" href="/howlonguntilitisfixed">I need to know exactly when it'll be fixed</a>
			</form>
		{{/unless}}
	</div>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-71270537-1', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>
